<md-toolbar layout="row" ng-controller="NavbarController as nav">
	<div class="md-toolbar-tools">
    <md-button class="md-button" href="/">Managerisms</md-button>
		<span flex></span>
		<md-button class="md-button" href="/submission">What did your manager say?</md-button>
    <md-button class="md-button" ng-click="nav.signIn();" ng-hide="nav.isSignedIn">Sign in with Twitter</md-button>
    <md-button class="md-button" ng-click="nav.signOut();" ng-show="nav.isSignedIn">Sign out</md-button>    
	</div>
</md-toolbar>