[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

a {
  color: white;
  text-decoration: none;
}

.navbar-title {
	margin-left: 10px;
}

.managerism {
	margin-top: 15%;
}

.managerism-actions {
	margin-top: 40px;
}

.message {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.message.ng-hide {
  opacity: 0;
}

.quote {
  margin-left: 50px;
  margin-right: 50px;
}

.text-center {
  text-align: center;
}

.submission {
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
}

.submit-button {
  margin-top: 2%;
}

.main-content {
  height: calc(100vh - 64px);
}